/* Para nuestras fuentes */
// google font Pacifico
$fontMain: 'Montserrat', sans-serif;
$fontSecondary: 'Roboto', sans-serif;
$fontCursive: 'Pacifico', sans-serif;

/* media queries*/
$movil: 480px; // 560px
$desktop: 1024px;


/* Colores */
$primary: #E8505B;
$secondary: #455A64;
$primary: #5E311E;
$secondary: #C39C63;
$black: #000;
$white: #FFF;
$grey-light: #ECEEEF;
$brown-light: #ebe7de;

/* Unidades */
$separation: 5rem;