@use 'base/mixins' as m;

.nav-barra{
    position: relative;
    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}